



#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 750px) {
  #background-video { display: none; }
  body {
    background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
    background-size: cover;
  }
}

#eldenheader {
margin: auto;
width: 550px;
font-family: 'Cinzel', serif;
background-color: none;
}

#audioplayer{
  background-color: rgba(0, 0, 0, 0.12);
  font-family: 'Cinzel', serif;
  border-radius: 10%;
  border: none;
  color: antiquewhite;
  padding: 1px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.EldenAudio {
  align-items: center;
  display: flex;
 
}




.eldensong {
  display: none;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center 
}


h1 {
  color: #F1E5AC;
  font-weight: boldest;
  font-family: 'Cinzel', serif;
  text-decoration: underline 1.55px;
  text-shadow: 5;

}

h2{
  font-size: 15px;
  font-weight: lighter;
  color: antiquewhite;
  text-align: center;
}




.container {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  
}
.button {
  background-color: rgba(0, 0, 0, 0.12);
  font-family: 'Cinzel', serif;
  border-radius: 10%;
  border: none;
  color: antiquewhite;
  padding: 1px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
  
}

.sort-button-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}

.searchbar {
  text-align: center;
  padding: 30px;
}

input[type="text"] {
  width: 200px;
  height: 30px;
}

.loader {
  padding: 200px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
  justify-content: center;
  margin: 20px;
}

.card {
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.card img {
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card p {
  text-align: center;
}

.page-list {
  margin: 50px;
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
}

li:hover {
  cursor: pointer;
}